In [1]:
import pandas as pd

In [2]:
#pandas stands for panel data and is the core library for data manipulation and data analysis
#it consists of single and multidiamensional data structures for data manipulation

In [3]:
#single diamension=series object
#multi diamensional =Data frame

In [4]:
#series object is one diamensional labeled array

In [5]:
s1=pd.Series([1,2,3,4,5])          #series object from list
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [9]:
s2=pd.Series([1,2,3])
s2

0    1
1    2
2    3
dtype: int64

In [10]:
#changing index

In [11]:
import pandas as pd

In [12]:
s1=pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
s1=pd.Series([10,20,30,40,50],index=["a","b","c","d","e"])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
s2=pd.Series([1,2,3,4,5,6])
s2

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [17]:
s2=pd.Series([1,2,3,4,5,6],index=["a","b","c","d","e","f"])
s2

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [18]:
#Series object from dictionary

In [1]:
import pandas as pd

In [2]:
s1=pd.Series({"a":10,"b":20,"c":30,"d":40})
s1

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
s2=pd.Series({"A":"Sourabh","B":"Anant","C":"Patange"})
s2

A    Sourabh
B      Anant
C    Patange
dtype: object

In [4]:
s2=pd.Series({"A":"Sourabh","B":"Anant","C":"Patange","D":"sourabh"})
s2

A    Sourabh
B      Anant
C    Patange
D    sourabh
dtype: object

In [9]:
import pandas as pd

In [10]:
l1=[1,2,3,4,5,6,7,8,9]

In [13]:
s1=pd.Series(l1)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [14]:
s1[4]

5

In [15]:
s1[:5]         #For getting first five values

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s1[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [20]:
import pandas as pd

In [21]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [22]:
s1+10      #Adding 10 in all elements

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [23]:
s1-5      #substracting 5 from all elements

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
7    3
8    4
dtype: int64

In [30]:
s2= pd.Series([10,20,30,40,50,60,70,80,90])

In [31]:
s2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [32]:
s1+s2       #adding s1 and s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [33]:
#pandas dataframe

In [34]:
#Data frame is a 2 Diamensional labelled data structure
#dtaframe comprises of rows and columns

In [35]:
#creating dataframe

In [36]:
pd.DataFrame({"Name":["Anne","math","leo","Messi"],"Marks":[80,90,80,95]})

    Name  Marks
0   Anne     80
1   math     90
2    leo     80
3  Messi     95

In [37]:
pd.DataFrame({"Name":["Sourabh","Varad","Sawand","Omkar"],"Age":[25,28,28,27],"Salary":[40000,50000,60000,70000]})

      Name  Age  Salary
0  Sourabh   25   40000
1    Varad   28   50000
2   Sawand   28   60000
3    Omkar   27   70000

In [4]:
import pandas as pd

In [5]:
pd.DataFrame({"Name":["Sourabh","Varad","Sawand","Omkar"],"Age":[25,28,28,27],"Salary":[40000,50000,60000,70000],"Job Location":["Kolhapur","Pune","Kolhapur","Kolhapur"],})

      Name  Age  Salary Job Location
0  Sourabh   25   40000     Kolhapur
1    Varad   28   50000         Pune
2   Sawand   28   60000     Kolhapur
3    Omkar   27   70000     Kolhapur

In [ ]:
#Dataframe In-Built Fuctions
#head() for checking first five rows of a DataFrame
#tail() for checking last five rows of a DataFrame
#shape() for checking shape of dataframe
#describe()for checking general inforamtion of a Dataset